
src = ["src"]
line-length = 88

[lint]
select = [
          "ALL"
]
ignore = [
          "ANN",
          "ARG",
          "COM",
          "D",
          "DTZ",
          "E",
          "EM",
          "ISC",
          "N",
          "PERF",
          "PGH",
          "PIE",
          "PLR",
          "PT",
          "PTH",
          "RET",
          "RUF",
          "S",
          "TRY",
          "PLW2901", # redefined-loop-name
          "PLR2004", # magic-value-comparison
          "PLR0915", # too-many-statements
          "PLR0912", # too-many-branches
          "PLR5501", # collapsible-else-if
          "PLR0911",  # too-many-return-statements
]

[lint.pylint]
max-args = 10
